<nav class="navbar navbar-expand-lg app-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">Flask Frontend</a>
    <div class="navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/cadastro">Cadastro</a></li>
        <li class="nav-item"><a class="nav-link" href="/professores">Professores</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">Sobre</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contato</a></li>
        <li class="nav-item"><a class="nav-link text-danger fw-bold" href="/reset">Reset DB</a></li>
      </ul>
    </div>
  </div>
</nav>
